In [10]:
import pandas as pd
from os import path
import numpy as np

In [29]:
name_title_processed_path='../../data/imbd_data/name_title_processed.csv'
name_title_degree = '../../data/imbd_data/name_title_degree_data.csv'
name_title_degree_clean = '../../data/imbd_data/name_title_degree_clean.csv'

In [12]:
def load_dataset(filepath):
    df = pd.read_csv(filepath)
    return df



def write_to_csv(df,filepath):
    '''
    input: df - a pandas DataFrame
           filepath - an output filepath as a string

    writes to a csv file
    in same diretory as this script

    returns: nothing
    '''
    # if no csv exists
    if not path.exists(filepath):
        df.to_csv(filepath,index=False)
    else:
        df.to_csv(filepath, mode='a', header=False,index=False)

In [13]:
# load data
people_df = load_dataset(name_title_processed_path)
name_title_degree_df = load_dataset(name_title_degree)

In [14]:
print(name_title_degree_df.head())
print(len(people_df[people_df.film_year>=1892]))
print(len(name_title_degree_df))

      nconst     tconst          name  birthYear  deathYear category  \
0  nm0000001  tt0025164  Fred Astaire       1899     1987.0    actor
1  nm0000001  tt0026942  Fred Astaire       1899     1987.0    actor
2  nm0000001  tt0027125  Fred Astaire       1899     1987.0    actor
3  nm0000001  tt0027630  Fred Astaire       1899     1987.0    actor
4  nm0000001  tt0028333  Fred Astaire       1899     1987.0    actor

       primaryTitle     originalTitle  film_year gender  age  degree    year
0  The Gay Divorcee  The Gay Divorcee       1934      M   35     3.0  1934.0
1           Roberta           Roberta       1935      M   36     6.0  1935.0
2           Top Hat           Top Hat       1935      M   36     6.0  1935.0
3  Follow the Fleet  Follow the Fleet       1936      M   37     9.0  1936.0
4        Swing Time        Swing Time       1936      M   37     9.0  1936.0
9477177
9477183

In [25]:
# include only people after 1892 where edges are available
name_title_degree_df = name_title_degree_df[name_title_degree_df.film_year>=1892]
name_title_degree_df = name_title_degree_df[name_title_degree_df.film_year<=2021]



#ensure floats are ints
name_title_degree_df.degree = name_title_degree_df.degree.astype(int)

#include only columns of interest
name_title_degree_df = name_title_degree_df[['nconst', 'tconst', 'name', 
                                             'birthYear', 'deathYear', 'category',
                                             'primaryTitle', 'originalTitle', 'film_year', 
                                             'gender', 'age', 'degree']]

print(len(name_title_degree_df.head()))

5

In [26]:
name_title_degree_df.head()

,nconst,tconst,name,birthYear,deathYear,category,primaryTitle,originalTitle,film_year,gender,age,degree
0,nm0000001,tt0025164,Fred Astaire,1899,1987.0,actor,The Gay Divorcee,The Gay Divorcee,1934,M,35,3
1,nm0000001,tt0026942,Fred Astaire,1899,1987.0,actor,Roberta,Roberta,1935,M,36,6
2,nm0000001,tt0027125,Fred Astaire,1899,1987.0,actor,Top Hat,Top Hat,1935,M,36,6
3,nm0000001,tt0027630,Fred Astaire,1899,1987.0,actor,Follow the Fleet,Follow the Fleet,1936,M,37,9
4,nm0000001,tt0028333,Fred Astaire,1899,1987.0,actor,Swing Time,Swing Time,1936,M,37,9

In [27]:
name_title_degree_df.columns

Index(['nconst', 'tconst', 'name', 'birthYear', 'deathYear', 'category',
       'primaryTitle', 'originalTitle', 'film_year', 'gender', 'age',
       'degree'],
      dtype='object')

In [28]:
print(name_title_degree_df[name_title_degree_df['name'].isin(['Morgan Freeman'])])

          nconst     tconst            name  birthYear  deathYear category  \
13304  nm0000151  tt0066651  Morgan Freeman       1937        NaN    actor
13305  nm0000151  tt0079379  Morgan Freeman       1937        NaN    actor
13306  nm0000151  tt0080392  Morgan Freeman       1937        NaN    actor
13307  nm0000151  tt0080474  Morgan Freeman       1937        NaN    actor
13308  nm0000151  tt0082719  Morgan Freeman       1937        NaN    actor
...          ...        ...             ...        ...        ...      ...
14082  nm0000151  tt5721088  Morgan Freeman       1937        NaN    actor
14083  nm0000151  tt5852632  Morgan Freeman       1937        NaN    actor
14084  nm0000151  tt5862166  Morgan Freeman       1937        NaN    actor
14086  nm0000151  tt6583530  Morgan Freeman       1937        NaN    actor
14087  nm0000151  tt6648926  Morgan Freeman       1937        NaN    actor

                                            primaryTitle  \
13304                               The Electric Company
13305                                      Julius Caesar
13306                                             Attica
13307                                           Brubaker
13308                            The Marva Collins Story
...                                                  ...
14082                               Just Getting Started
14083             March of the Penguins 2: The Next Step
14084                                    The Poison Rose
14086   Panama Canal in 3D a Land Divided a World United
14087  The Age of Spin: Dave Chappelle Live at the Ho...

                                           originalTitle  film_year gender  \
13304                               The Electric Company       1971      M
13305                                      Julius Caesar       1979      M
13306                                             Attica       1980      M
13307                                           Brubaker       1980      M
13308                            The Marva Collins Story       1981      M
...                                                  ...        ...    ...
14082                               Just Getting Started       2017      M
14083                                         L'empereur       2017      M
14084                                    The Poison Rose       2019      M
14086   Panama Canal in 3D a Land Divided a World United       2019      M
14087  The Age of Spin: Dave Chappelle Live at the Ho...       2017      M

       age  degree
13304   34      18
13305   42      25
13306   43      31
13307   43      31
13308   44      40
...    ...     ...
14082   80     233
14083   80     233
14084   82     238
14086   82     238
14087   80     233

[774 rows x 12 columns]

In [30]:
write_to_csv(name_title_degree_df,name_title_degree_clean)