In [2]:
import pandas as pd
from os import path
import numpy as np

In [3]:
name_basics_processed_path='../../data/imbd_data/name_basics_processed.csv'
title_basics_processed_path='../../data/imbd_data/title_basics_processed.csv'
title_principals_processed_path='../../data/imbd_data/title_principals_processed.csv'
name_title_processed_path='../../data/imbd_data/name_title_processed.csv'

In [4]:
def write_to_csv(df,filepath):
    '''
    input: df - a pandas DataFrame
           filepath - an output filepath as a string

    writes to a csv file
    in same diretory as this script

    returns: nothing
    '''
    # if no csv exists
    if not path.exists(filepath):
        df.to_csv(filepath,index=False)
    else:
        df.to_csv(filepath, mode='a', header=False,index=False)

In [5]:
def load_dataset(filepath):
    df = pd.read_csv(filepath)
    return df

In [6]:
names_df = load_dataset(name_basics_processed_path)
title_df = load_dataset(title_basics_processed_path)
title_p_df = load_dataset(title_principals_processed_path)

In [7]:
names_df.head()
print(names_df[names_df['primaryName'].isin(['Morgan Freeman'])])

        nconst     primaryName  birthYear  deathYear
148  nm0000151  Morgan Freeman       1937        NaN

In [8]:
title_p_df.head()

      tconst     nconst category
0  tt0000005  nm0443482    actor
1  tt0000005  nm0653042    actor
2  tt0000007  nm0179163    actor
3  tt0000007  nm0183947    actor
4  tt0000008  nm0653028    actor

In [9]:
title_df.head()

      tconst            primaryTitle           originalTitle  startYear
0  tt0000001              Carmencita              Carmencita       1894
1  tt0000002  Le clown et ses chiens  Le clown et ses chiens       1892
2  tt0000003          Pauvre Pierrot          Pauvre Pierrot       1892
3  tt0000004             Un bon bock             Un bon bock       1892
4  tt0000005        Blacksmith Scene        Blacksmith Scene       1893

In [10]:
print(names_df.info())
print(title_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531187 entries, 0 to 531186
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   nconst       531187 non-null  object
 1   primaryName  531187 non-null  object
 2   birthYear    531187 non-null  int64
 3   deathYear    181394 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 16.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7198562 entries, 0 to 7198561
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   primaryTitle   object
 2   originalTitle  object
 3   startYear      int64
dtypes: int64(1), object(3)
memory usage: 219.7+ MB
None

In [11]:
# merge names with title dataframe
df = names_df.merge(title_p_df, 
                    left_on=['nconst'], 
                    right_on=['nconst'], how='left')

In [12]:
print(df.head())
print(df[df['primaryName'].isin(['Morgan Freeman'])])

      nconst   primaryName  birthYear  deathYear     tconst category
0  nm0000001  Fred Astaire       1899     1987.0  tt0025164    actor
1  nm0000001  Fred Astaire       1899     1987.0  tt0026942    actor
2  nm0000001  Fred Astaire       1899     1987.0  tt0027125    actor
3  nm0000001  Fred Astaire       1899     1987.0  tt0027630    actor
4  nm0000001  Fred Astaire       1899     1987.0  tt0028333    actor
          nconst     primaryName  birthYear  deathYear     tconst category
13586  nm0000151  Morgan Freeman       1937        NaN  tt0066651    actor
13587  nm0000151  Morgan Freeman       1937        NaN  tt0079379    actor
13588  nm0000151  Morgan Freeman       1937        NaN  tt0080392    actor
13589  nm0000151  Morgan Freeman       1937        NaN  tt0080474    actor
13590  nm0000151  Morgan Freeman       1937        NaN  tt0082719    actor
...          ...             ...        ...        ...        ...      ...
14370  nm0000151  Morgan Freeman       1937        NaN  tt5862166    actor
14371  nm0000151  Morgan Freeman       1937        NaN  tt5932368    actor
14372  nm0000151  Morgan Freeman       1937        NaN  tt6583530    actor
14373  nm0000151  Morgan Freeman       1937        NaN  tt6648926    actor
14374  nm0000151  Morgan Freeman       1937        NaN  tt7469828    actor

[789 rows x 6 columns]

In [13]:
# merge names with title dataframe
df = df.merge(title_df, 
                    left_on=['tconst'], 
                    right_on=['tconst'], how='left')

In [14]:
print(df.head())
print(df[df['primaryName'].isin(['Morgan Freeman'])])

      nconst   primaryName  birthYear  deathYear     tconst category  \
0  nm0000001  Fred Astaire       1899     1987.0  tt0025164    actor
1  nm0000001  Fred Astaire       1899     1987.0  tt0026942    actor
2  nm0000001  Fred Astaire       1899     1987.0  tt0027125    actor
3  nm0000001  Fred Astaire       1899     1987.0  tt0027630    actor
4  nm0000001  Fred Astaire       1899     1987.0  tt0028333    actor

       primaryTitle     originalTitle  startYear
0  The Gay Divorcee  The Gay Divorcee     1934.0
1           Roberta           Roberta     1935.0
2           Top Hat           Top Hat     1935.0
3  Follow the Fleet  Follow the Fleet     1936.0
4        Swing Time        Swing Time     1936.0
          nconst     primaryName  birthYear  deathYear     tconst category  \
13586  nm0000151  Morgan Freeman       1937        NaN  tt0066651    actor
13587  nm0000151  Morgan Freeman       1937        NaN  tt0079379    actor
13588  nm0000151  Morgan Freeman       1937        NaN  tt0080392    actor
13589  nm0000151  Morgan Freeman       1937        NaN  tt0080474    actor
13590  nm0000151  Morgan Freeman       1937        NaN  tt0082719    actor
...          ...             ...        ...        ...        ...      ...
14370  nm0000151  Morgan Freeman       1937        NaN  tt5862166    actor
14371  nm0000151  Morgan Freeman       1937        NaN  tt5932368    actor
14372  nm0000151  Morgan Freeman       1937        NaN  tt6583530    actor
14373  nm0000151  Morgan Freeman       1937        NaN  tt6648926    actor
14374  nm0000151  Morgan Freeman       1937        NaN  tt7469828    actor

                                            primaryTitle  \
13586                               The Electric Company
13587                                      Julius Caesar
13588                                             Attica
13589                                           Brubaker
13590                            The Marva Collins Story
...                                                  ...
14370                                    The Poison Rose
14371                                           Vanquish
14372   Panama Canal in 3D a Land Divided a World United
14373  The Age of Spin: Dave Chappelle Live at the Ho...
14374                                                NaN

                                           originalTitle  startYear
13586                               The Electric Company     1971.0
13587                                      Julius Caesar     1979.0
13588                                             Attica     1980.0
13589                                           Brubaker     1980.0
13590                            The Marva Collins Story     1981.0
...                                                  ...        ...
14370                                    The Poison Rose     2019.0
14371                                           Vanquish     2021.0
14372   Panama Canal in 3D a Land Divided a World United     2019.0
14373  The Age of Spin: Dave Chappelle Live at the Ho...     2017.0
14374                                                NaN        NaN

[789 rows x 9 columns]

In [15]:


df = df[['nconst','tconst','primaryName','birthYear','deathYear',
         'category','primaryTitle','originalTitle',
         'startYear']]

df.columns = ['nconst','tconst','name','birthYear','deathYear',
              'category','primaryTitle','originalTitle','film_year']

print(df.columns)
print(df.head(2))

Index(['nconst', 'tconst', 'name', 'birthYear', 'deathYear', 'category',
       'primaryTitle', 'originalTitle', 'film_year'],
      dtype='object')
      nconst     tconst          name  birthYear  deathYear category  \
0  nm0000001  tt0025164  Fred Astaire       1899     1987.0    actor
1  nm0000001  tt0026942  Fred Astaire       1899     1987.0    actor

       primaryTitle     originalTitle  film_year
0  The Gay Divorcee  The Gay Divorcee     1934.0
1           Roberta           Roberta     1935.0

In [16]:
# create gender category
df['gender'] = np.where(df['category']=='actor', 'M', 'F')

In [17]:
print(df.head(1))
print(df[df['name'].isin(['Morgan Freeman'])])

      nconst     tconst          name  birthYear  deathYear category  \
0  nm0000001  tt0025164  Fred Astaire       1899     1987.0    actor

       primaryTitle     originalTitle  film_year gender
0  The Gay Divorcee  The Gay Divorcee     1934.0      M
          nconst     tconst            name  birthYear  deathYear category  \
13586  nm0000151  tt0066651  Morgan Freeman       1937        NaN    actor
13587  nm0000151  tt0079379  Morgan Freeman       1937        NaN    actor
13588  nm0000151  tt0080392  Morgan Freeman       1937        NaN    actor
13589  nm0000151  tt0080474  Morgan Freeman       1937        NaN    actor
13590  nm0000151  tt0082719  Morgan Freeman       1937        NaN    actor
...          ...        ...             ...        ...        ...      ...
14370  nm0000151  tt5862166  Morgan Freeman       1937        NaN    actor
14371  nm0000151  tt5932368  Morgan Freeman       1937        NaN    actor
14372  nm0000151  tt6583530  Morgan Freeman       1937        NaN    actor
14373  nm0000151  tt6648926  Morgan Freeman       1937        NaN    actor
14374  nm0000151  tt7469828  Morgan Freeman       1937        NaN    actor

                                            primaryTitle  \
13586                               The Electric Company
13587                                      Julius Caesar
13588                                             Attica
13589                                           Brubaker
13590                            The Marva Collins Story
...                                                  ...
14370                                    The Poison Rose
14371                                           Vanquish
14372   Panama Canal in 3D a Land Divided a World United
14373  The Age of Spin: Dave Chappelle Live at the Ho...
14374                                                NaN

                                           originalTitle  film_year gender
13586                               The Electric Company     1971.0      M
13587                                      Julius Caesar     1979.0      M
13588                                             Attica     1980.0      M
13589                                           Brubaker     1980.0      M
13590                            The Marva Collins Story     1981.0      M
...                                                  ...        ...    ...
14370                                    The Poison Rose     2019.0      M
14371                                           Vanquish     2021.0      M
14372   Panama Canal in 3D a Land Divided a World United     2019.0      M
14373  The Age of Spin: Dave Chappelle Live at the Ho...     2017.0      M
14374                                                NaN        NaN      M

[789 rows x 10 columns]

In [18]:
# only include rows with valid film_year
df = df[df['film_year'].notna()]

# make sure years are integers
df.birthYear = df.birthYear.astype(int)
df.film_year = df.film_year.astype(int)

# create person age 
df['age'] = df.film_year-df.birthYear

In [19]:
print(df.head(1))
print(len(df))

      nconst     tconst          name  birthYear  deathYear category  \
0  nm0000001  tt0025164  Fred Astaire       1899     1987.0    actor

       primaryTitle     originalTitle  film_year gender  age
0  The Gay Divorcee  The Gay Divorcee       1934      M   35
9479322

In [20]:
#test data
print(df.info())
print(df[df['name'].isin(['Morgan Freeman'])])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9479322 entries, 0 to 10196185
Data columns (total 11 columns):
 #   Column         Dtype
---  ------         -----
 0   nconst         object
 1   tconst         object
 2   name           object
 3   birthYear      int64
 4   deathYear      float64
 5   category       object
 6   primaryTitle   object
 7   originalTitle  object
 8   film_year      int64
 9   gender         object
 10  age            int64
dtypes: float64(1), int64(3), object(7)
memory usage: 867.9+ MB
None
          nconst     tconst            name  birthYear  deathYear category  \
13586  nm0000151  tt0066651  Morgan Freeman       1937        NaN    actor
13587  nm0000151  tt0079379  Morgan Freeman       1937        NaN    actor
13588  nm0000151  tt0080392  Morgan Freeman       1937        NaN    actor
13589  nm0000151  tt0080474  Morgan Freeman       1937        NaN    actor
13590  nm0000151  tt0082719  Morgan Freeman       1937        NaN    actor
...          ...        ...             ...        ...        ...      ...
14369  nm0000151  tt5852632  Morgan Freeman       1937        NaN    actor
14370  nm0000151  tt5862166  Morgan Freeman       1937        NaN    actor
14371  nm0000151  tt5932368  Morgan Freeman       1937        NaN    actor
14372  nm0000151  tt6583530  Morgan Freeman       1937        NaN    actor
14373  nm0000151  tt6648926  Morgan Freeman       1937        NaN    actor

                                            primaryTitle  \
13586                               The Electric Company
13587                                      Julius Caesar
13588                                             Attica
13589                                           Brubaker
13590                            The Marva Collins Story
...                                                  ...
14369             March of the Penguins 2: The Next Step
14370                                    The Poison Rose
14371                                           Vanquish
14372   Panama Canal in 3D a Land Divided a World United
14373  The Age of Spin: Dave Chappelle Live at the Ho...

                                           originalTitle  film_year gender  \
13586                               The Electric Company       1971      M
13587                                      Julius Caesar       1979      M
13588                                             Attica       1980      M
13589                                           Brubaker       1980      M
13590                            The Marva Collins Story       1981      M
...                                                  ...        ...    ...
14369                                         L'empereur       2017      M
14370                                    The Poison Rose       2019      M
14371                                           Vanquish       2021      M
14372   Panama Canal in 3D a Land Divided a World United       2019      M
14373  The Age of Spin: Dave Chappelle Live at the Ho...       2017      M

       age
13586   34
13587   42
13588   43
13589   43
13590   44
...    ...
14369   80
14370   82
14371   84
14372   82
14373   80

[784 rows x 11 columns]

In [21]:
df['category'].unique()

array(['actor', 'actress'], dtype=object)

In [22]:
write_to_csv(df,name_title_processed_path)

In [23]:
print(len(df))
print(df.head())

9479322
      nconst     tconst          name  birthYear  deathYear category  \
0  nm0000001  tt0025164  Fred Astaire       1899     1987.0    actor
1  nm0000001  tt0026942  Fred Astaire       1899     1987.0    actor
2  nm0000001  tt0027125  Fred Astaire       1899     1987.0    actor
3  nm0000001  tt0027630  Fred Astaire       1899     1987.0    actor
4  nm0000001  tt0028333  Fred Astaire       1899     1987.0    actor

       primaryTitle     originalTitle  film_year gender  age
0  The Gay Divorcee  The Gay Divorcee       1934      M   35
1           Roberta           Roberta       1935      M   36
2           Top Hat           Top Hat       1935      M   36
3  Follow the Fleet  Follow the Fleet       1936      M   37
4        Swing Time        Swing Time       1936      M   37

In [42]:
nom_count = pd.read_csv('../../data/nominations_count.csv')
df.head()
noms = df
noms.head()
nom_count = nom_count.rename(columns={"year_film": "film_year"})
noms_merged = pd.merge(noms, nom_count, how='left', on=['name'])
# noms_merged
# ncount = nom_count[['name','winner']]

In [47]:
noms_merged=noms_merged.rename(columns={"birthYear_x": "birthYear", "gender_y":"gender","category_x": "category", "film_year_x":"film_year",  "film_year_y":"film_nomination_year", "category_y":"nomination_category"})
noms_merged=noms_merged.drop(['originalTitle', 'gender_x', 'birthYear_y',], axis=1)
noms_merged.drop(['originalTitle', 'gender_x', 'birthYear_y',], axis=1)
noms_merged.head(10)
# nom_count.head()

,nconst,tconst,name,birthYear,deathYear,category,primaryTitle,film_year,age,winner,gender,film_nomination_year,nomination_category,ceremonyAge,num_times_nominated
0,nm0000001,tt0025164,Fred Astaire,1899,1987.0,actor,The Gay Divorcee,1934,35,False,M,1974.0,ACTOR IN A SUPPORTING ROLE,75.0,1.0
1,nm0000001,tt0026942,Fred Astaire,1899,1987.0,actor,Roberta,1935,36,False,M,1974.0,ACTOR IN A SUPPORTING ROLE,75.0,1.0
2,nm0000001,tt0027125,Fred Astaire,1899,1987.0,actor,Top Hat,1935,36,False,M,1974.0,ACTOR IN A SUPPORTING ROLE,75.0,1.0
3,nm0000001,tt0027630,Fred Astaire,1899,1987.0,actor,Follow the Fleet,1936,37,False,M,1974.0,ACTOR IN A SUPPORTING ROLE,75.0,1.0
4,nm0000001,tt0028333,Fred Astaire,1899,1987.0,actor,Swing Time,1936,37,False,M,1974.0,ACTOR IN A SUPPORTING ROLE,75.0,1.0
5,nm0000001,tt0028757,Fred Astaire,1899,1987.0,actor,A Damsel in Distress,1937,38,False,M,1974.0,ACTOR IN A SUPPORTING ROLE,75.0,1.0
6,nm0000001,tt0029546,Fred Astaire,1899,1987.0,actor,Shall We Dance,1937,38,False,M,1974.0,ACTOR IN A SUPPORTING ROLE,75.0,1.0
7,nm0000001,tt0029971,Fred Astaire,1899,1987.0,actor,Carefree,1938,39,False,M,1974.0,ACTOR IN A SUPPORTING ROLE,75.0,1.0
8,nm0000001,tt0031983,Fred Astaire,1899,1987.0,actor,The Story of Vernon and Irene Castle,1939,40,False,M,1974.0,ACTOR IN A SUPPORTING ROLE,75.0,1.0
9,nm0000001,tt0032284,Fred Astaire,1899,1987.0,actor,Broadway Melody of 1940,1940,41,False,M,1974.0,ACTOR IN A SUPPORTING ROLE,75.0,1.0

In [51]:

noms_merged.to_csv('../../data/name_title_processed_oscars.csv')