In [12]:
import pandas as pd
import numpy as np

listA = ['Maria','Bob','Omar', 'Robert']
df = pd.DataFrame(listA,columns=['A'])
df['AA'] = df.A

In [13]:

df.head()

        A      AA
0   Maria   Maria
1     Bob     Bob
2    Omar    Omar
3  Robert  Robert

In [14]:
pairs = np.stack(i.ravel() for i in np.meshgrid(df.A, df.AA)).T
df = pd.DataFrame(pairs, columns=['source', 'target'])

C:\Users\coconut\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  if (await self.run_code(code, result,  async_=asy)):

In [15]:
df

    source  target
0    Maria   Maria
1      Bob   Maria
2     Omar   Maria
3   Robert   Maria
4    Maria     Bob
5      Bob     Bob
6     Omar     Bob
7   Robert     Bob
8    Maria    Omar
9      Bob    Omar
10    Omar    Omar
11  Robert    Omar
12   Maria  Robert
13     Bob  Robert
14    Omar  Robert
15  Robert  Robert