In [16]:
import pandas as pd
from os import path
import numpy as np

In [17]:
all_acting_path = '../../data/imbd_data/all_acting.csv'
all_acting_clean_path = '../../data/imbd_data/all_acting_clean.csv'

In [18]:
def load_dataset(filepath):
    df = pd.read_csv(filepath)
    return df

def write_to_csv(df,filepath):
    '''
    input: df - a pandas DataFrame
           filepath - an output filepath as a string

    writes to a csv file
    in same diretory as this script

    returns: nothing
    '''
    # if no csv exists
    if not path.exists(filepath):
        df.to_csv(filepath,index=False)
    else:
        df.to_csv(filepath, mode='a', header=False,index=False)

In [19]:
# load dataset
df = load_dataset(all_acting_path)
print(df.head(1))

C:\Users\coconut\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

      nconst     tconst          name  birthYear  deathYear profession  \
0  nm0000001  tt0025164  Fred Astaire       1899     1987.0      actor

       primaryTitle     originalTitle  film_year gender  age  degree  \
0  The Gay Divorcee  The Gay Divorcee       1934      M   35       3

   year_ceremony  ceremony category winner  num_times_nominated
0            NaN       NaN      NaN    NaN                  NaN

In [20]:
categories_interest = ['ACTOR',
                       'ACTRESS',
                       'ACTOR IN A LEADING ROLE',
                       'ACTRESS IN A LEADING ROLE',
                       'ACTOR IN A SUPPORTING ROLE',
                       'ACTRESS IN A SUPPORTING ROLE',float("NAN")]

# only include actors/actresses
df = df[df['category'].isin(categories_interest)]

In [21]:
print(min(df.age))
print(max(df.age))
#-61
#1955

-61
1955

In [22]:
# because of errors in database we will use the age range from the 8 to 88 years old
df = df[df.age >=1]
df = df[df.deathYear >= df.film_year]
print(min(df.deathYear))
print(max(df.age))
print(len(df.nconst.unique()))

1896.0
108
78494

In [23]:
#remove people who have movies after death
print(min(df.num_times_nominated))
print(min(df.num_times_nominated))
print(min(df.age))
print(max(df.age))
write_to_csv(df,all_acting_clean_path)

nan
nan
1
108