In [1]:
import pandas as pd
from os import path
import numpy as np

In [2]:
name_title_processed_path='../../data/imbd_data/name_title_processed.csv'
fake_processed_path='../../data/imbd_data/nominee_degree_data_fake.csv'

In [3]:
def write_to_csv(df,filepath):
    '''
    input: df - a pandas DataFrame
           filepath - an output filepath as a string

    writes to a csv file
    in same diretory as this script

    returns: nothing
    '''
    # if no csv exists
    if not path.exists(filepath):
        df.to_csv(filepath,index=False)
    else:
        df.to_csv(filepath, mode='a', header=False,index=False)

In [4]:
def load_dataset(filepath):
    df = pd.read_csv(filepath)
    return df

In [5]:
df = load_dataset(name_title_processed_path)

In [9]:
df['degree'] = np.random.randint(1, 2000, df.shape[0])

In [10]:
write_to_csv

,name,birthYear,deathYear,gender,category,primaryTitle,originalTitle,film_year,degree
0,Fred Astaire,1899,1987,M,ACTOR,The Towering Inferno,The Towering Inferno,1974,1893
1,Fred Astaire,1899,1987,M,ACTOR,On the Beach,On the Beach,1959,1320
2,Fred Astaire,1899,1987,M,ACTOR,Funny Face,Funny Face,1957,328
3,Fred Astaire,1899,1987,M,ACTOR,The Story of Vernon and Irene Castle,The Story of Vernon and Irene Castle,1939,1488
4,John Belushi,1949,1982,M,ACTOR,The Blues Brothers,The Blues Brothers,1980,653