In [7]:
import pandas as pd
import numpy as np

listA = ['Maria','Bob','Omar', 'Robert']
df = pd.DataFrame(listA,columns=['A'])
df['AA'] = df.A

In [8]:

df.head()

        A      AA
0   Maria   Maria
1     Bob     Bob
2    Omar    Omar
3  Robert  Robert

In [9]:
pairs = np.stack(i.ravel() for i in np.meshgrid(df.A, df.AA)).T
df = pd.DataFrame(pairs, columns=['source', 'target'])

C:\Users\coconut\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  if (await self.run_code(code, result,  async_=asy)):

NameError: name 'v' is not defined